/*add.ctp*/
/*記事投稿画面css*/
.add_t{
    text-align: center;
}
.add_box{
    border: 4px double #EB5D00;
    background-color: #edd0d0;
    margin: auto;
    padding: 1em;
    width: 460px;
    height: auto;
}
.add_box1{
    display: flex;
}
.add_body{
    margin-top: 15px;
    margin-bottom: 10px;
}
.add_title{
    width:50px;
}
label[for=body]{
    margin-bottom: 10px;
}
.error-message{
    width:500px;
}
/*Contents設定*/
/*textarea#contents{
    width: 450px;
    margin-top: 5px;
    height: 350px;
    border: 0;
    padding: 5px;
    font-size: 1.3em;
    background-color: #f9f2f2;
}
.add_contents{
    width:80px;
    margin-top: 20px;
}
