/*login.ctp*/
/*login画面設定*/
.login_box{
    font-size: 22px;
    border: 4px double #EB5D00;
    background-color: #edd0d0;
    margin: auto;
    padding: 5px;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
}
.login_username{
    margin-left: 15px;
    width: 300px;
    height: 10px;
    margin: 25px;
    border: 0;
    padding: 10px;
}
label[for=username]{
    margin-right: 12px;
}
.login_password{
    margin-left: 15px;
    width: 301px;
    height: 10px;
    margin: 25px;
    border: 0;
    padding: 10px;
}
label[for=password]{
    margin-right: 16px;
}
.buttons{
    margin: 30px;
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    font-size: 18px;
    border-radius: 6px;
    /*box-shadow: inset 1px 3px 3px -3px rgba(0,0,0,0.5);*/
    margin-top: 20px;
}
