/*login.ctp*/
/*login画面設定*/
.login_box{
    font-size: 22px;
    border: 4px double #EB5D00;
    background-color: #edd0d0;
    margin: auto;
    padding: 5px;
    width: 550px;
    height: 220px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.login_username{
    margin-left: 15px;
    width: 500px;
    height: 10px;
    margin: 25px;
    border: 0;
    padding: 10px;
}
label[for=username]{
    margin-right: 12px;
}
.login_password{
    margin-left: 15px;
    width: 500px;
    height: 10px;
    margin: 25px;
    border: 0;
    padding: 10px;
}
label[for=password]{
    margin-right: 16px;
}
.buttons{
    margin: 30px;
    display: flex;
    justify-content: center;
}
/*button{
    width: 100px;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 20px;
}*/
button[type="submit"]{
    background-color: #fff;
	border: 2px solid #fff;
	color: #db72a4;
	line-height:   ;
    height: 35px;
    border-radius: 6px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;

}
button[type="submit"]:hover{
    background-color: #fff;
	border-color: #f77492;
	color: #f77492;
}
input[type="text"]{
    background-color: #fff4ea;
    border: 0;
    width: 200px;
    height:25px;
    font-size: 20px;
    border: 2px solid #f9f2f2;
}
input[type="text"]:hover{
    background-color: #fff4ea;
    border-color: #f77492;
}
input[type="text"]:focus{
    outline: 0;
    border-color: #f77492;
}
input[type="password"]{
    background-color: #fff4ea;
    border: 0;
    width: 200px;
    height:25px;
    font-size: 20px;
    border: 2px solid #f9f2f2;
}
input[type="password"]:hover{
    background-color: #fff4ea;
    border-color: #f77492;
}
input[type="password"]:focus{
    outline: 0;
    border-color: #f77492;
}
