/*view.ctp*/
/*記事画面*/
.view_title1{
    text-align: right;
    margin: 0px auto;
    width: 735px;
}
.view_box{
    border: 4px double #EB5D00;
    background-color: #f9f2f2;
    margin: auto;
    padding: 1em;
    width: 700px;
    height: auto;
}
.view_box1{

    display: flex;
    background-color: #edd0d0;#edd0d0 #f9f2f2
}
.view_title{
    width: 420px;
}
.view_time{
    width: 100px;
}
.view_delete1{
    display: flex;
    margin-left: auto;
    color: #5D86FF;
}
.view_edit{
    margin-left: 5px;
}
.view_body7{
    word-wrap: break-word;
    margin-top: 10px;
}
/*コメント記入欄の設定*/
.view_box2{
    border: 4px double #EB5D00;
    background-color: #f9f2f2;
    margin: auto;
    padding: 1em;
    width: 700px;
    height: auto;
}

.view_box2 label{
    width:200px;
    margin-right:50px;
}

.view_body1{
    vertical-align: middle;
    text-align:left;
    margin:10px 0;
}
.attention{
    color: red;
}
.add_button{
    text-align: right;
}

label[for=name]{
    margin-right: auto;
}
label[for=body]{
    vertical-align: middle;
    letter-spacing: normal;
}
label{
    display: block;
}
button{
    margin-top: 5px;
}
input{
    background-color: #edd0d0;
    border: 0;
    width: 300px;
    height:25px;
    font-size: 20px;
    border: 2px solid #f9f2f2;
}
input:hover{
    background-color: #edd0d0;
    border-color: #f77492;
}
input:focus{
    outline: 0;
    border-color: #f77492;
}
textarea{
    background-color: #edd0d0;
    font-size: 20px;
    width: 695px;
    border: 2px solid #f9f2f2;
}
textarea:hover{
    background-color: #edd0d0;
    border-color: #f77492;
}
textarea:focus{
    outline: 0;
    border-color: #f77492;
}
/*Comment一覧設定*/
.view_box3{
    border: 4px double #EB5D00;
    background-color: ;
    margin: auto;
    padding: 1em;
    width: 700px;
    height: auto;
}
.view_box4{
    border: 1px #EB5D00;
    background-color: ;
    /*margin: auto;*/
    width: 700px;
    height: auto;
}
.view_box5{
    border: 1px double #EB5D00;
    background-color: #f9f2f2;
    margin: auto;
    padding: 5px;
    width: 700px;
    height: auto;
    margin-top: 10px;
    padding: 1em;
}
.view_comment{
    display: flex;
    margin-bottom: 5px;
    margin-top: 8px;
    background-color: #edd0d0;
}
.view_id{
    width: 80px;
}
.view_hn{
    width: 350px;
}
.view_time{
    width: 198px;
    margin-left: 50px;
}
.view_delete{
    margin-left:auto;
}
.view_contents{
    margin-top: 20px;
    width: 700px;
    word-wrap: break-word;
}
a[href="#"]:not(.link_color){
    color: #db72a4;
}
.view_keikoku{
    color: #ed5376;
    margin-top: 5px;
}
.haikei{
    background-color: #fff4ea;
}
button[type="submit"]{
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}
